.hide {
  display: none;
}

body {
  background-image:url(img/imagen2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}

.image1 {
  width: 35%;
  margin-left: 2%;
  display: flex;
}

/*Aquí empiezan los estilos de nuestra primera pantalla*/
.welcome {
  padding: 3%;
  text-align: center;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: rgba(51, 51, 51, 0.575);;
}

.button-start{
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid ;
  color: white;
  background-color:#333;
  padding: 1%;
  cursor: pointer;
  margin-left: 45%;
}
.button-start:hover{
background-color: #063971;
}
/*Aquí empiezan los estilos de nuestra segunda pantalla*/
.image2 {
width: 300px;
display:flex;
margin:auto;
}
 /* Estilos de la barra menu */
 .header {
  font-family: 'Orbitron', sans-serif;
  background: #333;
  display: flex;
  font-size: 30px;
  padding: 0%;
}
.iconpokedex{
  height: 40px;
  margin-top: 10px;
}
.item-menu{
  height: 70px;
  flex-grow: 1;
  color: white;
  border-right: 2px solid white;
  text-align: center;
  list-style: none;
}
.item-menu:hover{
  background-color:#063971 ;
}
/*menu icon*/
.menu-icon {
  display: none;
  padding: 28px 20px;
  position: relative;
}
.menu-icon .navicon {
  background:white;
  display: block;
  height: 2px;
  position: relative;
  width: 18px;
}
.navicon:before,
.navicon:after {
  background:white;
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
}
.menu-icon .navicon:before {
  top: 5px;
}
.navicon:after {
  top: -5px;
}

/*Buscador y filtros */
.pokedexSection, .filterSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

select, .search {
  border: #333;
  font-size: 18px;
  height: 50px;
  padding: 5px;
  width: 250px;
  font-family: 'Orbitron', sans-serif;
  border-radius: 8px;
}

.searchstyle {
  background: white;
  border: none;
  font-size: 30px;
  align-items: center;
  border-radius: 8px;
}

.lupa{
  width: 40px;
}

/*menu btn*/
.menu-btn {
  display: none;
}
.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:before,
.menu-btn:checked ~ .menu-icon .navicon:after {
  top: 0;
}

/*Pantallas medianas*/
@media all and (max-width: 800px) {
  .header {
    justify-content: space-around;
  }
  .menu-icon {
    display: none;
  }
}

/*Pantallas pequeñas*/
@media all and (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  .menu-icon {
    display: inline-block;
  }
  .menu-btn:checked ~ .menu {
    max-height: 240px;
    display: flex;
  }
  .menu {
    display: none;
  }
}
 /* Aquí empiezan los cards */
 .pokemonList{
  display: flex;
  flex-wrap: wrap;
}
.wrap{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}
.adelante, .atras{
  backface-visibility: hidden;
	text-align: center;
	color:black;
  font-family: 'Open Sans', sans-serif;
  background: rgba(255, 255, 255, 0.87);
  height: 400px;
  margin-top: 20px;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.atras{
  position: absolute;
  top: 0px;
  width: 100%;
}
.adelante >span{
  margin-bottom: -15px;
}
.img-styles {
  height: 170px;
}
 /* letter 1 card adelante letter2 card atras */
.letter1 {
  font-size: 27px;
  margin: 0px;
}
.letter2 {
  font-size: 21px;
}
.info1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.info2 >span , .letter2 >span {
  color: #A9A5A5;
  font-size: 19px;
}
.info2 >p{
  margin-bottom: 0px;
}
.tarjeta{
	transform-style: preserve-3d;
  transition: .7s ease;
}
.atras{
  transform: rotateY(180deg);
}
.tarjeta-wrap:hover .tarjeta{
  transform: rotateY(180deg);
}

 /* Seccion evolucion */
.evolutionSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
}
.one{
  margin-left: 40px;
  margin-top: 5px;
}
.btn-calcular{
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid ;
  color: white;
  background-color:#333;
  cursor: pointer;
  }
.wrap2{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}
.boxEvolution{
  backface-visibility: hidden;
	text-align: center;
	color:black;
  font-family: 'Open Sans', sans-serif;
  background: rgba(255, 255, 255, 0.87);
  height: 600px;
  margin-top: 20px;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
