.hide {
  display: none;
}
body {
background-image:url(img/background_desktop.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;  
}
.image1 {
width: 35%;
margin-left: 2%;
display: flex;
}
.welcome {
padding: 3%;
flex: auto;
text-align: center;
font-size: 25px;
margin-top: 3%;
font-family: 'Open Sans', sans-serif;
color: white;
background-color: rgba(51, 51, 51, 0.575);;
}
.button-start{
font-family: 'Orbitron', sans-serif;
font-size: 20px;
flex: auto;
border-radius: 15px;
border: 2px solid ;
color: white;
background-color:#333;
padding: 1%;
cursor: pointer;
margin-left: 45%;
margin-top: 1%;
}
.button-start:hover{
background-color: #063971;
}
.image2 {
width: 300px;
display:flex;
margin:auto;
}
 /* Estilos de la barra menu */
 .header {
  font-family: 'Orbitron', sans-serif;
  background: #333;
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap; 
  font-size: 30px;
  padding: 0%;
}
.item-menu{
  height: 70px;
  flex-grow: 1;
  color: white;
  border-right: 2px solid white;
  text-align: center;
  list-style: none;
}
.item-menu:hover{
  background-color:#063971 ;
  color: white;
}

.menu {
  max-height: none;
}

/*menu icon*/

.menu-icon {
  cursor: pointer;
  display: none;
  justify-content: flex-end;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.menu-icon .navicon {
  background:white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.navicon:before,
.navicon:after {
background:white;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2 ease-out;
width: 100%;
}

.menu-icon .navicon:before {
top: 5px;
}

.navicon:after {
  top: -5px;
}

/*menu btn*/

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}

/*Pantallas medianas*/

@media all and (max-width: 800px) {
  .header {
      justify-content: space-around;
  }

  .menu-icon {
      display: none;
  }
}

/*Pantallas pequeñas*/

@media all and (max-width: 500px) {
  .header {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;

  }
  .menu-icon {
      display: inline-block;
  }

  .menu-btn:checked ~ .menu {
      max-height: 240px;
      display: flex;
  }

  .menu {
      display: none;
      max-height: 0;
      transition: max-height .2s ease-out;
  }
  }
 /* Aquí empiezan los cards */

 .pokemonList{
  display: flex;
  flex-wrap: wrap;
}

.wrap{
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
}

/* falta centrar los elementos verticalmente*/
.adelante, .atras{
  backface-visibility: hidden;
	text-align: center;
	color:black;
  font-family: 'Open Sans', sans-serif;
  background: rgba(201, 194, 184, 0.541);
  height: 300px;
  flex: auto;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 15%;
}

.atras{
  position: absolute;
  top: 0px;
  width: 100%;
  height:100%;
}

.tarjeta{
	transform-style: preserve-3d;
  transition: .7s ease;
}

.atras{
  transform: rotateY(180deg);
  font-size: 80%;
}
.tarjeta-wrap:hover .tarjeta{
  transform: rotateY(180deg);
}
